In [10]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
#Read xlxs file
df = pd.read_excel('C:/Users/matth/OneDrive/Desktop/DA/Personal Projects/data_cleaning/career_dataset_large.xlsx')
df.head(10)

,Education Level,Specialization,Skills,Certifications,CGPA/Percentage,Recommended Career
0,Bachelor's,Finance,"Counseling, MS Office, Machine Learning",Tally ERP,67,Business Analyst
1,Intermediate,Science,"Accounting, MS Office",AWS Certified,67,Software Engineer
2,Master's,Business,"Accounting, SQL, Data Analysis",Mental Health Basics,90,Financial Analyst
3,Bachelor's,Computer Science,Communication,NaN,75,Clerk
4,Matric,Business,Data Analysis,Tally ERP,83,Sales Assistant
5,Matric,Arts,Counseling,Tally ERP,61,Professor
6,Matric,Computer Science,"MS Office, Financial Analysis",Mental Health Basics,91,Clerk
7,Matric,Finance,Counseling,Digital Marketing,87,Marketing Executive
8,Matric,Business,"Financial Analysis, Python",CFA Level 1,78,Junior Accountant
9,Intermediate,Science,MS Office,CFA Level 1,75,Clerk

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Education Level     5000 non-null   object
 1   Specialization      5000 non-null   object
 2   Skills              5000 non-null   object
 3   Certifications      4404 non-null   object
 4   CGPA/Percentage     5000 non-null   int64
 5   Recommended Career  5000 non-null   object
dtypes: int64(1), object(5)
memory usage: 234.5+ KB

In [5]:
#Sort by Education Level
df_sorted = df.sort_values(by='Education Level', ascending=False)
df_sorted.head(10)

,Education Level,Specialization,Skills,Certifications,CGPA/Percentage,Recommended Career
2500,PhD,Finance,"Financial Analysis, Data Analysis, Marketing",NaN,88,Junior Accountant
1849,PhD,Business,MS Office,Google Data Analytics,95,Data Entry Operator
856,PhD,Finance,"MS Office, Machine Learning",AWS Certified,82,Sales Assistant
1841,PhD,Business,"Financial Analysis, Machine Learning, MS Office",Digital Marketing,95,Professor
1843,PhD,Psychology,"SQL, Data Analysis",Google Data Analytics,80,School Counselor
3141,PhD,Engineering,MS Office,AWS Certified,76,ML Engineer
1847,PhD,Commerce,MS Office,Google Data Analytics,76,ML Engineer
4129,PhD,Arts,"Communication, Financial Analysis, Marketing",Tally ERP,86,Clerk
4135,PhD,Finance,"Marketing, Counseling, Financial Analysis",Digital Marketing,94,Junior Accountant
3144,PhD,Finance,Communication,Mental Health Basics,85,Sales Assistant

In [7]:
#Sort by Education Level and only include those with PhD's
df_phd_sorted = df[df['Education Level'] == "PhD"].sort_values(by='Education Level', ascending=False)

df_phd_sorted

,Education Level,Specialization,Skills,Certifications,CGPA/Percentage,Recommended Career
10,PhD,Psychology,Financial Analysis,Digital Marketing,82,School Counselor
3060,PhD,Business,"Machine Learning, Python",Digital Marketing,74,Clerk
3187,PhD,Commerce,Communication,NaN,81,Financial Analyst
3193,PhD,Science,MS Office,Mental Health Basics,69,Business Analyst
3197,PhD,Psychology,"Data Analysis, Financial Analysis, Communication",Creative Writing,88,Junior Accountant
...,...,...,...,...,...,...
1604,PhD,Arts,MS Office,NaN,69,Data Entry Operator
1610,PhD,Commerce,Financial Analysis,Digital Marketing,86,Software Engineer
1613,PhD,Commerce,Communication,Creative Writing,79,Marketing Executive
1617,PhD,Engineering,"MS Office, Data Analysis, Python",Mental Health Basics,70,Junior Accountant
4998,PhD,Engineering,"Python, Machine Learning, Data Analysis",NaN,83,Software Engineer

In [13]:
#Export to new excel file
df_phd_sorted.to_excel('C:/Users/matth/OneDrive/Desktop/DA/Personal Projects/data_cleaning/career_dataset_phd_sorted.xlsx', index=False)