In [2]:
import pandas as pd

In [7]:
df = pd.read_csv('C:/Users/matth/OneDrive/Desktop/DA/Personal Projects/data_cleaning/ig_post_performance_dataset.csv', encoding='cp1252')
df.head(10)

,Impressions,From Home,From Hashtags,From Explore,From Other,Saves,Comments,Shares,Likes,Profile Visits,Follows,Caption,Hashtags
0,3920,2586,1028,619,56,98,9,5,162,35,2,Here are some of the most important data visua...,#finance #money #business #investing #investme...
1,5394,2727,1838,1174,78,194,7,14,224,48,10,Here are some of the best data science project...,#healthcare #health #covid #data #datascience ...
2,4021,2085,1188,0,533,41,11,1,131,62,12,Learn how to train a machine learning model an...,#data #datascience #dataanalysis #dataanalytic...
3,4528,2700,621,932,73,172,10,7,213,23,8,Here’s how you can write a Python program to d...,#python #pythonprogramming #pythonprojects #py...
4,2518,1704,255,279,37,96,5,4,123,8,0,Plotting annotations while visualizing your da...,#datavisualization #datascience #data #dataana...
5,3884,2046,1214,329,43,74,7,10,144,9,2,Here are some of the most important soft skill...,#data #datascience #dataanalysis #dataanalytic...
6,2621,1543,599,333,25,22,5,1,76,26,0,Learn how to analyze a candlestick chart as a ...,#stockmarket #investing #stocks #trading #mone...
7,3541,2071,628,500,60,135,4,9,124,12,6,Here are some of the best books that you can f...,#python #pythonprogramming #pythonprojects #py...
8,3749,2384,857,248,49,155,6,8,159,36,4,Here are some of the best data analysis projec...,#dataanalytics #datascience #data #machinelear...
9,4115,2609,1104,178,46,122,6,3,191,31,6,Here are two best ways to count the number of ...,#python #pythonprogramming #pythonprojects #py...

In [9]:
df_new = df.drop(columns=['Caption', 'Hashtags'])

In [10]:
df_new

,Impressions,From Home,From Hashtags,From Explore,From Other,Saves,Comments,Shares,Likes,Profile Visits,Follows
0,3920,2586,1028,619,56,98,9,5,162,35,2
1,5394,2727,1838,1174,78,194,7,14,224,48,10
2,4021,2085,1188,0,533,41,11,1,131,62,12
3,4528,2700,621,932,73,172,10,7,213,23,8
4,2518,1704,255,279,37,96,5,4,123,8,0
...,...,...,...,...,...,...,...,...,...,...,...
114,13700,5185,3041,5352,77,573,2,38,373,73,80
115,5731,1923,1368,2266,65,135,4,1,148,20,18
116,4139,1133,1538,1367,33,36,0,1,92,34,10
117,32695,11815,3147,17414,170,1095,2,75,549,148,214
118,36919,13473,4176,16444,2547,653,5,26,443,611,228

In [13]:
#Rename Columns for SQL Compatibility
df_new = df_new.rename(columns={
    'From Home': 'from_home',
    'From Hashtags': 'from_hashtags',
    'From Explore': 'from_explore',
    'From Other': 'from_other',
    'Profile Visits': 'profile_visits',
    'Follows': 'follows'
})

In [14]:
df_new

,impressions,from_home,from_hashtags,from_explore,from_other,saves,comments,shares,likes,profile_visits,follows
0,3920,2586,1028,619,56,98,9,5,162,35,2
1,5394,2727,1838,1174,78,194,7,14,224,48,10
2,4021,2085,1188,0,533,41,11,1,131,62,12
3,4528,2700,621,932,73,172,10,7,213,23,8
4,2518,1704,255,279,37,96,5,4,123,8,0
...,...,...,...,...,...,...,...,...,...,...,...
114,13700,5185,3041,5352,77,573,2,38,373,73,80
115,5731,1923,1368,2266,65,135,4,1,148,20,18
116,4139,1133,1538,1367,33,36,0,1,92,34,10
117,32695,11815,3147,17414,170,1095,2,75,549,148,214
118,36919,13473,4176,16444,2547,653,5,26,443,611,228

In [15]:
df_new = df_new.drop_duplicates()

In [16]:
df_new

,impressions,from_home,from_hashtags,from_explore,from_other,saves,comments,shares,likes,profile_visits,follows
0,3920,2586,1028,619,56,98,9,5,162,35,2
1,5394,2727,1838,1174,78,194,7,14,224,48,10
2,4021,2085,1188,0,533,41,11,1,131,62,12
3,4528,2700,621,932,73,172,10,7,213,23,8
4,2518,1704,255,279,37,96,5,4,123,8,0
...,...,...,...,...,...,...,...,...,...,...,...
114,13700,5185,3041,5352,77,573,2,38,373,73,80
115,5731,1923,1368,2266,65,135,4,1,148,20,18
116,4139,1133,1538,1367,33,36,0,1,92,34,10
117,32695,11815,3147,17414,170,1095,2,75,549,148,214
118,36919,13473,4176,16444,2547,653,5,26,443,611,228

In [17]:
#Export Cleaned DataFrame to CSV
df_new.to_csv('C:/Users/matth/OneDrive/Desktop/DA/Personal Projects/data_cleaning/ig_post_performance_cleaned.csv', index=False)
print("Cleaned data exported successfully.")

Cleaned data exported successfully.